html {
    scroll-behavior: smooth;
}

body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 1.95em;
}

p {
    margin: 10px 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

figure {
    text-align: center;
    border: 5px solid blue;
    border-radius: 35px;
    padding: 10px;
}

img {
    width: 100%;
    border-radius: inherit;
}

figcaption {
    font-size: 18px;
    font-weight: bold;
}

/* Tablet View (Triggers at 772px) */
@media (min-width: 772px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    figure {
        border-radius: 50%;
    }

    figure:last-child {
        grid-column: span 2;
    }
}

/* Large Screen View (Triggers at 992px) */
@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    figure {
        border-radius: 0;
    }

    figure:nth-child(3n) {
        grid-column: span 2;
    }
}


@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #e6e600;
    }

    figure {
        background-color: #333;
        color: #e6e600;
        border-color: black;
    }
}
